:root {
    /* LIGHT MODE */
    --primary-color: #04b197;
    --accent-color: #00d1b2;

    --bg-color: #121212;
    --card-bg: #1e1e1e;

    --text-color: #ffffff;
    --light-text: #ffffff;

    --shadow-new: 0 8px 30px rgba(31, 19, 0, 0.15);
    --border-light: #00d1b2;

    --transaction-in: #00d1b2;
    --transaction-out: #d43426;

    --header-gradient-end: #00d1b2;

    /* DARK MODE */
    --dark-bg: #1F1300;
    --dark-card: #2A1A05;

    --dark-text: #00d1b2;
    --dark-light-text: #00d1b2;

    --dark-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
    --dark-border: #3A2600;

    --dark-primary-color: #1F1300;
    --dark-accent-color: #04ffd9;

    --dark-transaction-in: #00d1b2;
    --dark-transaction-out: #FF8A50;
}
/* Estilização Base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

/* Título Principal */
h1 {
    font-size: 3em;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 10px;
    animation: fadeInDown 0.8s ease-out; /* Animação de entrada */
}

/* Destaque do Nome (Flow) */
h1 label {
    color: var(--accent-color);
    font-weight: 800;
}

/* Parágrafos de Descrição e Link */
p {
    font-size: 1.1em;
    color: var(--light-text);
    margin-bottom: 20px;
    max-width: 400px;
    line-height: 1.5;
}

/* Estilização dos Links (Sign up) */
p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

p a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

/* Botão Principal */
a button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 255, 242, 0.4);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: 10px;
}

a button:hover {
    background-color: var(--accent-color); /* Laranja um pouco mais escuro */
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 255, 255, 0.6);
}

a button:active {
    transform: translateY(0);
}


/* Animação para o título */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    animation: fadeInUp 0.8s ease-out; /* Animação de entrada para a imagem */
}